[submodule "escapethelogic/themes/portfolio"]
	path = escapethelogic/themes/portfolio
	url = git@github.com:kishaningithub/hugo-creative-portfolio-theme.git
[submodule "public"]
	path = public
	url = git@github.com:escapethelogic/escapethelogic.github.io.git
	branch = master
